@page
@model TrainDEv.Pages.SearchResultsModel
@{
}

@*Font for search*@
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<body>
    <br />    <br />    <br />

    <div id="app">
        <form action=" " method="post">
            <div class="wrapper">
                <div class="search_box">
                    <a class="search_btn" v-on:click="SeachClick"><i class="fas fa-search"></i></a>
                    <input type="text" id="input_search" asp-for="Trainer.KindOfTrainer" class="input_search" placeholder="What kind of trainer are you after?">
                </div>
            </div>

            <p class="filter_text">
                <b>Filter by profession:</b>
            </p>
            <table class="center">
                <tr>
                    <input id="Hidden3" asp-for="Trainer.KindOfTrainer" type="hidden" />
                    <td class="filter_button"> <img src="~/img/TrainerPro - Website_Health & Fitness Icon.svg" alt="Health&Fitness" width="64px" height="auto" id="health" v-on:click="filter_click('Health');" /> <br />Health</td>
                    <td class="filter_button"> <img src="~/img/TrainerPro - Website_Arts & Entertainment Icon.svg" alt="Arts&Ent" width="64px" height="auto" id="arts" v-on:click="filter_click('Arts');" /> <br />Arts</td>
                    <td class="filter_button"> <img src="~/img/TrainerPro - Website_Education & Languages Icon.svg" alt="Edu&Lang" width="64px" height="auto" id="education" v-on:click="filter_click('Education');" /> <br />Education</td>
                    <td class="filter_button"> <img src="~/img/TrainerPro - Website_Health & Beauty Icon.svg" alt="Heal&Bea" width="64px" height="auto" id="beauty" v-on:click="filter_click('Beauty');" /> <br />Beauty</td>
                    <td class="filter_button"> <img src="~/img/TrainerPro - Website_Business & Technology Icon.svg" alt="Bus&Tech" width="64px" height="auto" id="tech" v-on:click="filter_click('Technology');" /> <br />Technology </td>
                </tr>
            </table>

            <hr class="solid" />

            <p class="results">
                Showing results for: <b>sample</b> located in <b>sample, postcode, state</b>
            </p>
            <div class="dropdown">
                <input id="Hidden2" asp-for="Trainer.Gender" type="hidden" />
                <select class="dropbtn" id="codeSelect2" v-on:change="selectGFn($event)">
                    <option value="">both</option>
                    <option value="Femail">Female</option>
                    <option value="Male">Male</option>

                </select>
            </div>

            <div class="dropdown">
                <input id="Hidden1" asp-for="Trainer.TeachingType" type="hidden" />
                <select class="dropbtn" id="codeSelect1" v-on:change="selectTFn($event)">
                    <option value="">both</option>
                    <option value="In person">In person</option>
                    <option value="Online">Online</option>

                </select>
            </div>
            <div style="min-height:250px;">
                <div style="width:240px;height:240px;float:left;margin:10px;" v-for="(item,key) in modelValue">
                    <a :href="'/trainer_profile?id='+item.Id"> <img :src="item.ImageUrl" style="width:190px;height:190px" alt="user" class="user_image" /> </a>
                    <br />
                    <p class="user_description">{{item.Username}}</p>
                    <p>
                        {{item.DescribeYourself}}
                    </p>
                </div>
            </div>
        </form>
    </div>

    @*Search results*@
    <!--<table>
        <tr>
            <td>
                <a href="/trainer_profile"> <img src="~/img/TrainerPro - Website_Image User Placeholder.jpg" alt="user" class="user_image" /> </a>
                <br /> <p class="user_description">John Doe</p> <p>Fitness Trainer</p>
            </td>
            <td>
                <a href="/trainer_profile"> <img src="~/img/TrainerPro - Website_Image User Placeholder.jpg" alt="user" class="user_image" /> </a>
                <br /> <p class="user_description">William Smith</p> <p>Business Trainer, 2+</p>
            </td>
            <td>
                <a href="/trainer_profile"> <img src="~/img/TrainerPro - Website_Image User Placeholder.jpg" alt="user" class="user_image" /> </a>
                <br /> <p class="user_description">Mary Smith</p> <p>Language Trainer</p>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <a href="/trainer_profile"> <img src="~/img/TrainerPro - Website_Image User Placeholder.jpg" alt="user" class="user_image" /> </a>
                <br /> <p class="user_description">John Doe</p> <p>Fitness Trainer</p>
            </td>
            <td>
                <a href="/trainer_profile"> <img src="~/img/TrainerPro - Website_Image User Placeholder.jpg" alt="user" class="user_image" /> </a>
                <br /> <p class="user_description">William Smith</p> <p>Business Trainer, 2+</p>
            </td>
            <td>
                <a href="/trainer_profile"> <img src="~/img/TrainerPro - Website_Image User Placeholder.jpg" alt="user" class="user_image" /> </a>
                <br /> <p class="user_description">Mary Smith</p> <p>Language Trainer</p>
            </td>
        </tr>
    </table>-->

    <script src="~/js/vue.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                message: '',
                modelValue: [],
                modelT: { KindOfTrainer: '', Gender: '', TeachingType: '' },
            },
            methods: {
                filter_click: function (typename) {
                    var returnData = this;
                    returnData.modelT.KindOfTrainer = typename;
                    $.ajax({
                        url: "?handler=Seach",
                        method: "Post",
                        data: JSON.stringify(returnData.modelT),
                        contentType: "application/json;charset=UTF-8",
                        dataType: "json",
                        success: function (data) {
                            if (data) {
                                returnData.modelValue = data;
                            }
                        },
                        error: function () {
                        }
                    });
                },
                SeachClick: function () {
                    var value = $("#input_search").val();
                    var returnData = this;
                    returnData.modelT.KindOfTrainer = value;
                    $.ajax({
                        url: "?handler=Seach",
                        method: "Post",
                        data: JSON.stringify(returnData.modelT),
                        contentType: "application/json;charset=UTF-8",
                        dataType: "json",
                        success: function (data) {
                            if (data) {
                                returnData.modelValue = data;
                            }
                        },
                        error: function () {
                        }
                    });
                },
                selectGFn: function (e) {
                    //var value= e.target.value;
                    var returnData = this;
                    returnData.modelT.Gender = e.target.value;
                    $.ajax({
                        url: "?handler=Seach",
                        method: "Post",
                        data: JSON.stringify(returnData.modelT),
                        contentType: "application/json;charset=UTF-8",
                        dataType: "json",
                        success: function (data) {
                            if (data) {
                                returnData.modelValue = data;
                            }
                        },
                        error: function () {
                        }
                    });
                },
                selectTFn: function (e) {
                    var returnData = this;
                    returnData.modelT.TeachingType = e.target.value;
                    $.ajax({
                        url: "?handler=Seach",
                        method: "Post",
                        data: JSON.stringify(returnData.modelT),
                        contentType: "application/json;charset=UTF-8",
                        dataType: "json",
                        success: function (data) {
                            if (data) {
                                returnData.modelValue = data;
                            }
                        },
                        error: function () {
                        }
                    });
                },
            },
            mounted: function () {
                var returnData = this;
                //returnData.modelT.TeachingType = e.target.value;
                $.ajax({
                    url: "?handler=Seach",
                    method: "Post",
                    data: JSON.stringify(returnData.modelT),
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (data) {
                        if (data) {
                            returnData.modelValue = data;
                        }
                    },
                    error: function () {
                    }
                });
            }
        })</script>

</body>

  <style>

  .dropbtn {
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius:5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #5077BE;
}

body{
    background-image: url('../img/TrainerProWebsiteBodyWatermark.png');
}

table.center{
  margin-left: auto; 
  margin-right: auto;
}
.user_image{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    padding-bottom:25px;
}

.user_description{
/*    padding-top:25px;*/
/*    padding-bottom:50px;*/
/*    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;*/
}

table {
    border-collapse: separate;
    border-spacing: 90px 0;
}

td {
    padding: 10px 0;
    text-align:center;
}

/* Solid divider */
hr.solid {
  border-top: 1px solid #bbb;
}

/*Results text*/
.results{
    color: silver;
    text-align:center;
}

/*Filter text*/
.filter_text{
    color: #395f5f;
    text-align:center;
}

/*Wrapper for search*/
.wrapper{
	min-height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*For search*/
.search_box{
	background: #27a2dd;
	position: relative;
	padding: 15px;
	border-radius: 50px;
	display: flex;
}

/*For search*/
.search_box .search_btn{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #6aceec;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin-right: 15px;
	cursor: pointer;
}

/*For search*/
.search_btn:hover{
    background: #18849c;
}

/*For search*/
.search_box .input_search{
	outline: none;
	border: 0;
	background: #6aceec;
	border-radius: 50px;
	padding: 15px 20px;
	width: 300px; 
	height: 50px;
	color: #fff;
}

/*For search*/
::placeholder {
    color: black;
}

/*For search*/
::-webkit-input-placeholder {
    color: #fff;
}

/*For search*/
:-ms-input-placeholder {
    color: #fff;
}

.filter_button{
cursor: pointer;
}
</style>

@*<script>
    function filter_click(id){
        var button = document.getElementById(id).style.filter;
        if (button == "grayscale(0%)"){
        document.getElementById(id).style.filter = "grayscale(100%)"
        }
        else{
        document.getElementById(id).style.filter = "grayscale(0%)"
        }
    }
</script>*@